.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 48px 1fr;
  gap: 0 0;
  grid-template-areas:
    'navbar navbar'
    'product-pane cart-pane';
}

.navbar {
  grid-area: navbar;
  background-color: #48475f;
  color: white;
}

.product-pane {
  grid-area: product-pane;
  background-color: #fff;
}

.cart-pane {
  grid-area: cart-pane;
  background-color: #fff;
}